---
const { title = "Daniël van Leeuwen — Portfolio" } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/DanTheLion-Resume/src/styles/global.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
